body {
  font-family: tahoma;
  margin: 0px;
  padding: 0px;
}

.header {
  border-bottom: 2px solid #db2927;
  height: 89px;
  width: 100%;
}

img {
  width: 193px;
  height: 68px;
  margin: 15px;
}

.navigation1 {
  right: 120px;
  top: 50px;
  margin: 10px;
  position: absolute;
}

.navigation2 {
  margin: 10px;
  top: 50px;
  right: 10px;
  position: absolute;
}

a:link {
  color: #045198;
  font-size: 13px;
  display: inline;
  width: 200px;
  text-decoration: none;
}


li {
  list-style-type: none;
  font-size: 13px;
  color: #000000;
  display: inline;
}

.heading {
  font-size: 18px;
  color: #2c286d;
  width: 550px;
  box-sizing: border-box;
  margin: auto;
}

.container {
  background-color: #ececec;
  border: 1px solid #bcbcbc;
  width: 550px;
  padding: 20px 30px;
  box-sizing: border-box;
  margin: auto;
}

.tep input {
  width: 360px;
  height: 25px;
  padding: 0px;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  resize: vertical;
}

select {
  font: 13px tahoma;
  width: 110px;
  color: #6f6f6f;
  border: 1px solid #b9b9b9;
  background-color: #ffffff;
}

textarea {
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  width: 360px;
  height: 135px;
}

.left {
  display: inline-block;
  font-size: 14px;
  color: #000000;
  width: 20%;
  text-align: right; 
}

.right {
  width: 75%;
  float: right;
}

.radio {
  font-size: 13px; 
  color: #6f6f6f;
  width: 70px;
  display: inline-block;
}

.row {
  padding: 5px;
  box-sizing: border-box;
  width: 500px;
}

input[type=submit] {
  background-color: #dc2927;
  color: #ffffff;
  border-color: #a10200;
  width: 130px;
  height: 32px;
  font-size: 14px;
}

.row:after {
  content: "";
  display: table;
  clear: both;  
}

